@import "./mixins.scss";

.main_header {
  pointer-events: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 6px;
  position: relative;
  z-index: 10;
  &::after {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    @include milk-blur;
    position: fixed;
  }
  @include tablet-begin {
    width: calc(100% - 6rem);
    position: fixed;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    &::after {
      height: 6.25rem;
    }
  }
  @include tablet {
    width: 100%;
    grid-template-columns: repeat(17, minmax(3rem, 5rem));
    grid-template-rows: repeat(5, 1fr);
  }
}

.main_header-name {
  grid-column: 1 / span 2;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  h1 {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--dark-1);
  }
  span {
    font-weight: 300;
  }
  sub {
    font-size: 0.625rem;
    font-weight: 300;
    color: var(--dark-3);
  }
  @include tablet-begin {
    grid-column: 1 / 4;
    position: relative;
    z-index: 100;
    h1 {
      font-size: 1.5rem;
    }
    sub {
      font-size: 0.75rem;
    }
  }
  @include tablet {
    grid-column: 3 / 9;
    grid-row: 4 / 5;
  }
}

.main_header nav {
  right: 1rem;
  position: fixed;
  z-index: 10;
  ul {
    height: 2rem;
  }
  @include tablet-begin {
    top: 0;
    right: unset;
    display: flex;
    justify-content: flex-end;
    position: relative;
    grid-column: 5 / -1;
    grid-row: 2 / 3;
  }
  @include tablet {
    grid-column: 13 / 15;
    justify-content: flex-start;
  }
}

.main_header-outbound_links {
  display: none;
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  width: 100%;
  @include tablet-begin {
    display: flex;
    justify-content: space-between;
  }
  @include tablet {
    grid-column: 3 / 5;
    grid-row: 5 / 6;
    align-items: flex-end;
    padding-top: 1rem;
  }
}

// Outbound link hovers
.outbound_li {
  cursor: pointer;
  pointer-events: all;
}

@media (hover: hover) {
  .outbound_li {
    position: relative;
    background-color: #ffffff;
    /* 
    We need to have backdrop-filter here,
    otherwise mix-blend-mode will break backdrop-filter elsewhere. 
    */
    backdrop-filter: blur(0);
    -webkit-backdrop-filter: blur(0);
    &::after {
      content: "";
      inset: 0;
      height: 31px;
      height: 31px;
      position: absolute;
      background-color: var(--golden);
      border-radius: 50%;
      mix-blend-mode: screen;
      transform: scale(0);
      opacity: 0;
      transition: all 400ms cubic-bezier(0.77, 0, 0.3, 1);
    }
    &:hover::after {
      transform: scale(1);
      opacity: 1;
    }
  }
}
