@import "./mixins.scss";

#lightbox-portal {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  inset: 0;
  z-index: 100;
  transition: opacity 400ms ease-in-out;
}

body:has(#lightbox-portal) {
  overflow: hidden;
}

.lightbox {
  &-strip-ul {
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    overflow-y: hidden;
    display: grid;
    grid-auto-flow: column;
    gap: 100vw;
    list-style: none;
  }
  &-strip-li {
    scroll-snap-align: start;
    width: 100vw;
    height: 100vh;
    .image_text-wrap {
      position: relative;
      margin: 0 auto;
      top: 50%;
      transform: translateY(-50%);
      max-height: 100vh;
      background-color: khaki;
      p {
        text-align: center;
        font-size: 0.75rem;
        letter-spacing: 0.02rem;
        color: var(--dark-2);
      }
    }
  }
}


.lightbox-strip-nav {
  &-close {
    cursor: pointer;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    background: none;
    border: none;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--dark-4);
    svg {
      height: 100%;
      width: 100%;
    }
    @include hi-dpi-mobile {
      height: 50px;
      width: 50px;

    }
  }
  &_arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    &-btn--show,
    &-btn--hide {
      transition:
        300ms opacity ease-in-out,
        300ms transform ease-in-out;
    }
  }
  .btn_right {
    svg {
      margin-left: 1px;
    }
    &[class*="--show"] {
      opacity: 1;
      cursor: pointer;
      transform: translateX(-1.5rem);
    }
    &[class*="--hide"] {
      opacity: 0;
      transform: translateX(3rem);
    }
  }
  .btn_left {
    svg {
      margin-left: -1px;
    }
    &[class*="--show"] {
      opacity: 1;
      cursor: pointer;
      transform: translateX(1.5rem);
    }
    &[class*="--hide"] {
      opacity: 0;
      transform: translateX(-3rem);
    }
  }

  .btn_left,
  .btn_right {
    // box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 8px;
    height: 2rem;
    width: 2rem;
    background: none;
    background-color: white;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.337);
    mix-blend-mode:difference;
    svg {
      height: 100%;
      width: 100%;
      padding: 2px;
    }
  }
  @media (hover: none) {
    &_arrows {
      opacity: 0;
    }
  }
}

// .lightbox {
//   &-strip-nav {
//     position: absolute;
//     pointer-events: none;
//     inset: 0;
//     z-index: 100;
//     &_arrows {
//       display: flex;
//       justify-content: space-between;
//       width: 100%;
//       position: absolute;
//       top: 50%;
//       transition:
//         opacity 500ms ease-in-out,
//         visibility 500ms;
//     }
//     &-close {
//       position: absolute;
//       right: 1rem;
//       top: 1rem;
//       opacity: 0;
//       transition: opacity 500ms ease-in-out;
//     }

//     &-btn {
//       cursor: pointer;
//       pointer-events: all;
//       padding: 0;
//       height: 1.5rem;
//       width: 1.5rem;
//       border: none;
//       background: none;
//       opacity: 1;
//       // transition:
//         // opacity 500ms ease-in-out,
//         // visibility 500ms;
//       &:hover {
//         opacity: 0.65;
//       }
//       svg {
//         height: 100%;
//         width: 100%;
//         color: var(--dark-1);
//       }
//       &.btn_left {
//         height: 6rem;
//         width: 5rem;
//         padding: 1.75rem;
//         transform: translate(-1.5rem, -3rem);
//         transition:
//           transform 900ms cubic-bezier(0, 0.5, 0.4, 1),
//           opacity 500ms ease-in-out;
//         &:hover {
//           transform: translate(-1.25rem, -3rem);
//         }
//       }
//       &.btn_right {
//         height: 6rem;
//         width: 5rem;
//         padding: 1.75rem;
//         transform: translate(1.5rem, -3rem);
//         transition:
//           transform 900ms cubic-bezier(0, 0.5, 0.4, 1),
//           opacity 500ms ease-in-out;
//         &:hover {
//           transform: translate(1.25rem, -3rem);
//         }
//       }
//     }

//     &_arrows-btn {
//       &--hide {
//         opacity: 0;
//         visibility: hidden;
//       }
//       &--show {
//         opacity: 1;
//         visibility: visible;
//       }
//     }
//   }

//   @keyframes animateLightbox {
//     0% {
//       opacity: 0;
//     }
//     100% {
//       opacity: 1;
//     }
//   }

//   @keyframes animateLightboxOut {
//     0% {
//       opacity: 1;
//     }
//     100% {
//       opacity: 0;
//     }
//   }
// }
