@import "./mixins.scss";

#lightbox-portal {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  inset: 0;
  z-index: 100;
  transition: opacity 400ms ease-in-out;
}

body:has(#lightbox-portal) {
  overflow: hidden;
}

.lightbox {
  &-strip-ul {
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    overflow-y: hidden;
    display: grid;
    grid-auto-flow: column;
    gap: 100vw;
    list-style: none;
  }
  &-strip-li {
    scroll-snap-align: start;
    width: 100vw;
    height: 100vh;
    .image_text-wrap {
      position: relative;
      margin: 0 auto;
      top: 50%;
      transform: translateY(-50%);
      max-height: 100vh;
      p {
        text-align: center;
        font-size: 0.75rem;
        letter-spacing: 0.02rem;
        color: var(--dark-2);
      }
    }
    .image_text-clickable {
      pointer-events: all;
      z-index: 101;
      opacity: 0.1;
      cursor: pointer;
    }
   
  }
}

.lightbox-strip-nav {
  &-close {
    cursor: pointer;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    background: none;
    border: none;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--dark-4);
    z-index: 100;
    background-color: white;
    border-radius: 50%;
    transition: opacity 300ms ease-in-out;
    @media (hover: hover) {
      &:hover {
        opacity: 0.7;
      }
    }
    svg {
      height: 100%;
      width: 100%;
    }
    @include hi-dpi-mobile {
      height: 50px;
      width: 50px;
    }
  }
  &_arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
    &-btn--show,
    &-btn--hide {
      transition:
        300ms opacity ease-in-out,
        500ms transform  cubic-bezier(0.86, 0, 0.07, 1);
    }
  }

  .btn_right {
    svg {
      margin-left: 1px;
    }
    &[class*="--show"] {
      opacity: 1;
      cursor: pointer;
    }
    &[class*="--hide"] {
      opacity: 0;
    }
  }
  .btn_left {
    svg {
      margin-left: -1px;
    }
    &[class*="--show"] {
      opacity: 1;
      cursor: pointer;
    }
    &[class*="--hide"] {
      opacity: 0;
    }
  }

  .btn_left,
  .btn_right {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1.5px 5px;
    height: 2rem;
    width: 2rem;
    background: none;
    background-color: white;
    border-radius: 50%;
    border: 0.2px solid rgba(0, 0, 0, 0.125);
    mix-blend-mode: difference;
    svg {
      height: 100%;
      width: 100%;
      padding: 6px;
    }
  }
  @media (hover: none) {
    &_arrows {
      opacity: 0;
    }
  }
}