$mobile-vert: 600px;
$tablet-begin: 760px;
// $tablet: 985px;
$tablet: 1100px;
$desktop: 1024px;

@mixin tablet-and-above {
  @media only screen and (min-width: #{$mobile-vert}) {
    @content;
  }
}

@mixin tablet-begin {
  @media only screen and (min-width: #{$tablet-begin}) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: #{$desktop}) {
    @content;
  }
}

@mixin milk-blur {
  // background-color: rgba(255, 255, 255, 0.8);
  background: linear-gradient(180deg, rgba(255,255,255,1) 10%, rgba(255,255,255,0.70) 100%);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}

@mixin unset-milk-blur {
  background: unset;
  -webkit-backdrop-filter: none;
  backdrop-filter:none;
}
