.site_nav ul {
  display: flex;
  font-weight: 600;
  font-size: 0.875rem;
  align-items: center;
}

.site_nav {
  &-li:last-child {
    margin-left: 1.25rem;
  }
  &-li {
    list-style: none;
    position: relative;
    display: inline-block;
  }
  a {
    pointer-events: all;
    display: block;
    padding: 0.5rem 0.9rem;
    color: var(--dark-4);
    height: fit-content;
  }

  &-li::after {
    content: "";
    position: absolute;
    width: calc(100% - 1rem);
    margin: 0 auto;
    transform: scaleX(0);
    height: 3px;
    inset: 0;
    top: calc(100% - 0.25rem);
    background-color: var(--golden);
    transform-origin: bottom right;
    transition: transform 400ms cubic-bezier(0, 0.8, 0.2, 1);
  }

  @media (hover: hover) {
    &-li:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }

  &-li::before {
    content: "";
    position: absolute;
    width: calc(100% - 1rem);
    margin: 0 auto;
    transform: scaleX(0);
    height: 3px;
    inset: 0;
    top: calc(100% - 0.25rem);
    background-color: var(--golden);
    transform-origin: bottom right;
    transition: transform 400ms cubic-bezier(0, 0.8, 0.2, 1);
  }

  &-li--active {
    a {
      cursor: default;
      color: var(--golden);
    }
    &::before {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }

  @include tablet-begin {
    font-size: 1rem;
  }
}
